name: release-pipeline
on:
  create:
    tags:
      - '**'

jobs:
  homebrew:
    name: Bump Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - name: Extract version
        id: extract-version
        run: |
          echo "tag-name=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          
      - uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: litmusctl
          tag-name: ${{ steps.extract-version.outputs.tag-name  }}
          download-url: https://github.com/litmuschaos/litmusctl/archive/refs/tags/${{ steps.extract-version.outputs.tag-name  }}.tar.gz
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
